* {
    margin: 0;
    padding: 0;
}

.calculadora {
    width: 220px;
    height: 270px;
    margin: auto;
    margin-top: 50px;
    padding: 15px 0px 10px 0px;

    border: 1px solid rgba(127, 190, 182, 0.3);
    border-radius: 20px;

    background-color: rgba(166, 229, 221, 0.3);

    box-shadow: 30px -16px rgba(0, 255, 90, 0.7);

    text-align: center;
    

}

.Input-cal input {
    width: 170px;
    height: 30px;
    
    border: 2px solid;
    border-radius: 4px;
}

.One-top,
.One, 
.Two, 
.Three,
.four {
   margin-top: 5px;
}


button {
    width: 40px;
    height: 40px;

    border-radius: 4px;
}

.button-type-1 {
    background-color: rgba(28, 210, 218, 0.22);
 }
.button-type-2 {
   background-color: rgba(255, 255, 0, 0.22);
}

.button-3, .button-4 {
    width: 85px;
    border-radius: 4px;
}


.button-3 {
    background-color: rgba(0, 255, 90, 0.99);
}

.button-4 {
    background-color: rgba(255, 2, 100, 0.30);
}